.headcontainer {
    padding: 20px 20px 0 20px;
   
    width: auto;
    height: auto;
    
}

.profile{
   display: flex;

   flex-direction: row;
  
}

.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: right;
 
    margin-top:auto;
    margin-bottom: auto;
    
  
   
    object-fit: cover;


}

.information{
 
   
    margin-left: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;   
   
}

.information span{
    font-size: 1.8em;
    font-weight: 500;
    
   
    font-family: 'poppins', sans-serif;
    color: black;
    word-spacing: 20px;
    text-transform: uppercase;
   

}

.information a {
    font-size: 14px;
    color: rgb(126, 125, 125);
    font-family: 'poppins', sans-serif;
    margin-bottom: 1em;
    font-weight: 500;
    text-transform: uppercase;

}

.information .sourcebutton{
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(83, 83, 255);
    padding: 5px;
    border-radius: 50px;
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    padding: 6px;
    
    
}



.counts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -20px;

    
    
    margin-top: 10px;

   
}

.totalfollowers {
    display: block;
    justify-content: center;
    align-items: center;
   
    padding: 10px;
    text-align: center;
    
}

.totalfollowers span {
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
    color: black;
    text-transform: uppercase;
}

.totalfollowers p {
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    color: rgb(65, 65, 65);
   
}

.activefollowers{
    display: block;
    justify-content: center;
    align-items: center;
   
    padding: 10px;
    text-align: center;
    
}

.activefollowers span {
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
    color: black;
    text-transform: uppercase;
}

.activefollowers p {
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    color: rgb(65, 65, 65);
  
}

.subtype{
    display: block;
    justify-content: center;
    align-items: center;

   
    padding: 10px 10px 0 10px;
    text-align: center;
    
}

.subtype span {
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
    color: black;
    text-transform: uppercase;

}

.subtype p {
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    color: rgb(65, 65, 65);
   
}

@media screen and (min-width: 950px) {
    
.headcontainer {
    margin: 0 20%;
}
   
}