.headercontainer{

    

    padding: 10px;
    margin-top: 10px;

    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 6.5px 5px rgba(0, 0, 0, 0.06),
  0 2.3px 5.9px rgba(0, 0, 0, 0.072),
  0 1.8px 10.4px rgba(0, 0, 0, 0.086),
  0 5px 20px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  margin-top: 10px;
   
}



.url{
    display: block;
    font-size: 1.8em;
    color: rgb(248, 19, 19);
    font-weight: 700;
    margin-right: 20px;

    
}


.namenlogo{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.namenlogo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 1px;
    position: fixed;
   
}

.description{
    display: block;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px 0 10px;
    

    margin-top: 1em;
    margin-bottom: 0.5em;
    

}

.subscount{
    display: block;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0em;
}

 .subscribers {
    font-size: 0.9em;
    color: #666;
   justify-content: center;
   text-align: center;
    background-color: white;
 

}

.iconsize{
    font-size: 1.5em;
}

.active {
    font-size: 0.9em;
    color: #666;
   justify-content: center;
   text-align: center;
    background-color: white;

   
}

.activesubcount{
    display: block;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0em;
}

 .activesubscribers {
    font-size: 0.9em;
    color: #666;
   justify-content: center;
   text-align: center;
    background-color: white;
 

}

