/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
 
  --container-color: rgb(255, 255, 255);

  /* hsl(174deg 100% 95%); */

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .8rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color)
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
  /* box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15); */
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 400;
  margin-left: 10px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
   left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    margin: auto;
    height: 3.5rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    /* border-radius: 1.25rem 1.25rem 1.25rem 1.25rem; */
    transition: .4s;
    /* margin-bottom: 15px; */
  }
}


@media screen and (max-width: 767px) {
  .inside_navbar {
    position: fixed;
    bottom: 0;
     right: 10px;
    background-color: var(--container-color);
    box-shadow: 0 6px 30px rgb(0 0 0 / 0.2);    
    margin: auto;
    height: 3.5rem;
    width: 3.5rem;
   z-index: 100;
    display: grid;
    align-content: center;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: 15px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    color: white;
   
  }
}

.insidenav__link{
  color: #000000;
  display: flex;
  padding: 5px;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
  
}


.nav__list,


.nav__link {
  display: flex;
  padding: 5px;
  margin-top: 8px;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  
  font-family: 'Source Sans Pro', sans-serif;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
.active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.searchbackground{
  background-color: var(--body-color);
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 768px;
  border-right: 1px solid rgba(0,0,0,.2);
  transform: translateX(-100%);
}

.segment{
  margin: auto;
  margin-top: 10px;
}








img {
  display: block;
 
 
  border-radius: 3px;


  
}

.mantine-nxdw3b {
  font-weight: 600;
  border: 1px solid #0f0f0f;
  
 

}


.center {
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

.title {
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
  color: black;
}


.close{
  margin: 0px 15px 0px 0px;
  position:relative; 
 
  margin-left: 90%;
}


.source{
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.item-panel .icon-button {
  pointer-events: all;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}
.item-panel .icon-button, .item-panel__right {
  display: flex;
  flex-direction: column;
}
.icon-button, .icon-button:active {
  -webkit-tap-highlight-color: transparent;
}
.icon-button {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 0.6rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 5.2rem;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}




.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: rgb(255, 255, 255);

  padding: 0;
}

 

video  {

  width: 100%;
 margin-bottom: 2px;
 border-radius: 2px;
  
  display: flex;
  box-shadow: 0 17px 50px 0 rgba(var(--shadow-rgb),.19),0 12px 15px 0 rgba(var(--shadow-rgb),.24);
}  

@media only screen and (min-width: 700px) {
  .filters { 
    margin-top: 80px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .my-masonry-grid_column > div { 
    background: rgb(255, 255, 255);
  }

  .my-masonry-grid_column {
     
    background-clip: padding-box;
  
  }

  .filters{
    margin-top: 20px;
    margin: auto;
    padding: 5px;
  }

  .filters{
    margin: 10px;
    padding-left: 10px;
  }
}

.title{
  color: rgb(255, 255, 255);
  
  font-size: 15px;
  line-height: 20px
  ;
}

.filters Badge{

margin: 10px;
  padding-left: 10px;
}
  




.subreddittitle{
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.fullscreen-view__media {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  -webkit-tap-highlight-color: transparent;

}
.fullscreen-view__entry, .fullscreen-view__entry-container {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  
  
}



.fullscreen-view__entry, .fullscreen-view__entry-container {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.fullscreen-view__entry-container{
  background-color: black;
}

.model{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  border: none;
  font-size: 15px;
  font-weight: 900;
  color: rgb(122, 122, 122);

}

.photolist{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: url('https://i1.wp.com/www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg?ssl=1');
 

}
.fullphoto{
  
  object-fit: fill;
  margin-bottom: 10px;
}

.picwithtext {
  display: flex;
  bottom: 30px;
  position: absolute;
  left: 15px;
  color: white;
  width: 50%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-shadow: rgb(0, 0, 0) 1px 0 2px;
  font-family: 'Poppins', sans-serif;
}

.subredditname {
  display: flex;
  bottom: 20px;
  position: absolute;
  left: 15px;
  text-decoration: underline;
  color: white;
  font-weight: 600;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-family: 'popins', sans-serif;

}




.redditsource{
  display: flex;
  bottom: 40px;
  position: absolute;
  right: 18px;
 
  color: white;

  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;

  
}

.sourcetext{
  display: flex;
  bottom: 10px;
  position: absolute;
  right: 15px;
font-family: 'Poppins', sans-serif;
  color: white;

  font-size: 10px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;

}

.offcanvas-backdrop.show {
  opacity: 1;
}

.offcanvas-backdrop {
  background-color: #ffffff;
}

.plzWait{
  position: fixed;
  margin: auto;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}


.postloader{
  position: fixed;
  margin: auto;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  

}



.mantine-4uiiuc {
  justify-content: center;
}

.searchedApp .nav__menu {
  display: none;

}

.expl{
  font-size: 20px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  
}

.emptyreddit{
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

 



}

.emptyreddit p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;

}

.nsf {
  left: 0;
  color: red;
}

.topsubs{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
}

.topsubcontainer{
 
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.subslist {

  color: red;
  font-size: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 950px) {
  .my-masonry-grid {
   margin: 0 20%;
  }
}

@media screen and (min-width: 767px) {
  .inside_navbar {
    position: fixed;
    bottom: 0;
     right: 10px;
    background-color: var(--container-color);
    box-shadow: 0 6px 30px rgb(0 0 0 / 0.2);    
    margin: auto;
    height: 3.5rem;
    width: 3.5rem;
   z-index: 100;
    display: grid;
    align-content: center;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: 15px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    color: white;
   
  }

  .nav__icon {
    font-size: 12px;
  }
}
  
